/* index page and common stuff */
body{ 
    margin: 0;
    background-color: #dddddd;
}

.navbar h1 {
    float: left;
    text-align: center; 
    color: white;
    background-color: #4aaaa5;
    margin: 0;
    margin-left: 200px;
    width: 250px;
    padding: 16px;
    font-size: 26px;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    border-bottom: solid grey 3px
    
}



.navbar a{
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    text-decoration: none;
    color: grey;
}

/* .navbar a:hover{  
    background-color:gold
} */

.container #bio-image {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 50%
}

h2 {
    padding-top: 15px;
    margin-left: 20px;
    color: #4aaaa5;
}

.container {
    height: 100;
    width: 100;
    background-color:#ffffff;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 15px;
    
}

.para {
    margin-left: 25px;
    color: #777777;
    line-height: 25px;
    margin-right: 25px;
}

.footer {
    font-size: 12px;
    text-align: center;
    position: fixed;
    background-color: #666666;
    margin: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-top: solid #4aaaa5 5px;
}

/* contact form stuff */

input {
    width: 85%;
}

#message {
    height: 200px;
}

.contact-form {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: grey;
    margin-left: 70px 
}

.form-list {
    list-style-type: none;
}

input {
    margin-bottom: 10px;
    margin-top: 10px;
}

.button {
    margin-left: 40px;
    font-size: 24px;
    background-color: #4aaaa5;
    cursor: pointer;
    color: white;

}

/* portfolio page stuff */


.port-images{
    margin-left: 105px;
  
}


#img-2 {
    margin-left: 20px;
}

#img-3 {
    margin-left: 20px;
}

#img-4 {
    margin-left: 20px;
}

#img-5 {
    margin-top: 10px;

}

#img-6 {
    margin-top: 10px;
    margin-left: 20px;
}

#img-7 {
    margin-top: 10px;
    margin-left: 20px;
}

#img-8 {
    margin-top: 10px;
    margin-left: 20px;
}